{% macro notification(ntf,name) %}
<div class="overviewCard">
  <div
    class="titleNote d-flex justify-content-start align-items-center"
    style="padding-left: 20px; width: 20%"
  >
    <div class="overviewCard-icon overviewCard-icon--calendar">
      <i class="fa-solid fa-bell"></i>
    </div>
    <h3 class="overviewCard-title">{{name}}</h3>
  </div>
  <div
    class="overviewCard-description"
    style="
      height: 100px;
      overflow-y: scroll;
      width: 80%;
      display: flex;
      justify-content: start;
      align-items: start;
    "
  >
    <ul>
      {% for message in ntf %}
      <li class="fs-6"><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %} 
{% macro counts(ntf,name) %}

<div class="quickview__item">
  <div class="quickview__item-total">{{ntf}}</div>
  <div class="quickview__item-description">
    <a href="{{ url_for('admin.git_data', name=name) }}">
        <span class="text-light">{{name}}</span>
    </a>
  </div>
</div>

{% endmacro %}



{% macro record(record) %}
<center>
    <div class="container-edit">
    <div class="center-edit">
        {% for key,value in record.items() %} 
        <div class="page-content">
        <div class="row">
        <div class="col-2">
          <strong class="">{{key}} </strong>
        </div>
        <div class="col-5">
            <p class="value">{{value}}</p>
        </div>
        </div>
        </div>
        {% endfor %}
        
    </div>
    </div>
</center>
{% endmacro %}