* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-size: $font-size-base;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}
h1 {
  font-size: 3.125rem;
}
h2 {
  font-size: 2.625rem;
}
h3 {
  font-size: 1.975rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
input,
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
section {
  padding-top: 8rem;
}
#login-carousel {
  margin: 2rem auto;
  width: 80%;
  .carousel-indicators {
    right: 0 !important;
    bottom: -6rem !important;

    button {
      background: #bcdfa7;
      width: 25px;
      height: 5px;
      border-radius: 50%;
      margin: 0 13px;
      &.active {
        background: #a3c891;
        border-radius: 22px;
        width: 100px;
      }
      &:hover {
        background: #a3c891 !important;
      }
    }
  }

  .carousel-inner {
    border-top: 1px solid #84c356;
    border-bottom: 1px solid blue;
    border-left: 1px solid #84c356;
    border-right: 1px solid blue;
  }
}

footer {
  padding: 1.2rem 0;
  align-items: end;
  color: $brand-gray;
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 3.125rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.625rem;
    font-weight: 500;
  }
  h3 {
    font-size: 0.975rem;
    font-weight: 500;
  }
  h4 {
    font-size: 0.5rem;
    font-weight: 500;
  }
  h5 {
    font-size: 0.25rem;
    font-weight: 500;
  }
  h6 {
    font-size: 0.7rem;
    font-weight: 500;
  }
}
