
$img: "../images/";
$FontPath: "../fonts";
$iconsFontFamily: "fiicons";
$iconsFontPath: "../fonts/fiicons";

$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "" ;
$font-base-rtl: "";

$brand-primary: #0F75C0 ;
$sec-primary: #84c356 ;
$white :white;
$brand-gray: #878483;



$brand-secondary: #2077A5; 
$brand-red: #f1474e;
$brand-red-dark: #bd1b21;

$black: #000000;


$facebook: #2067a9;
$twitter: #1da1f2;
$instagram: #b63ab9;
$linkedin: #0077b5;
$youtube: #f82600;
$feeds: #ff8a00;
$acrobat: #b51c1c;




$color-fiord: #394263; // sidenav bg & dark text
$color-white: #FFF; // card bg
$color-athens-gray: #EAEDF1; // content bg
$color-catskill-white: #F9FAFC; // top nav bg
$color-abbey: #777; // gray text
$color-mischka: #DADAE3; // light gray for menu icon
$color-java: #1BBAE1; // blue text
$color-mine-shaft: #333; // main section header bg
$color-zest: #e67e22; // document icon bg
$color-jungle-green: #27ae60; // calendar icon bg
$color-cinnabar: #e74c3c; // main icon bg, red
$color-amethyst: #af64cc; // main photo icon bg
$color-transparent: rgba(255, 255, 255, .5);
$color-alto: #D3D3D3;

$height-header: 50px;
$height-footer: 50px;
$width-sidenav: 240px;