
$img: "../images/";
$FontPath: "../fonts";
$iconsFontFamily: "fiicons";
$iconsFontPath: "../fonts/fiicons";

$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "" ;
$font-base-rtl: "";

$brand-primary: #0F75C0 ;
$white :white;
$brand-gray: #878483;


$brand-secondary: #2077A5; 
$brand-red: #f1474e;
$brand-red-dark: #bd1b21;

$black: #000000;


$facebook: #2067a9;
$twitter: #1da1f2;
$instagram: #b63ab9;
$linkedin: #0077b5;
$youtube: #f82600;
$feeds: #ff8a00;
$acrobat: #b51c1c;
