.contact-page {
    .bannar {
        // background-image: url("{{ url('static', filename='images/contact/contactUs.png') }}");
        background-image: url("../images/contact/contactUs.png");

        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 50vh;
        position: relative;

        h2 {
            position: absolute;
            top: 1rem;
            left: 5rem;
            color: #0f75c0;
        }
    }
    .paragraph {
        p {
            padding: 2rem 27rem;
            color: #878483;
            font-size: 20px;
        }
    }
    .stay-connected {
        h2 {
            color: #0f75c0;
            font-size: 40px;
        }

        p {
            padding: 1rem 27rem;
            color: #878483;
            font-size: 20px;
        }

        .card {
            width: 36%;
            padding: 2rem;
            margin: 0 0.5rem;
            border-radius: 19px;
            text-align: center;
        }
    }
    .contact-form {
        h2 {
            padding: 1rem 0;
            color: #0f75c0;
            font-size: 40px;
        }

        input {
            padding: 0.9rem 0.5rem;
        }
        ::placeholder {
            padding: 0 0.5rem;
        }
    }

    .color-footer {
        background-color: #84c356 !important;
    }
}




@media screen and (max-width:1399px) {
}
@media screen and (max-width:1199px) {
    .contact-page  {
        p{ padding: 2rem 1rem !important; }

        }

}

@media screen and (max-width:991px) {

    }

@media screen and (max-width:767px) {



}

@media screen and (max-width:580px) {
            }
