.contact-page {
    padding: 5px 0;
    .bannar {
        background-image: url("../images/contact/contactUs.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 50vh;
        position: relative;
        box-shadow: 0px 1px 0px rgba(68, 68, 68, 0.2);
        h2 {
            position: absolute;
            top: 9rem;
            left: 13rem;
            color: #0f75c0;
        }
    }
    .paragraph {
        p {
            padding: 2rem 12rem;
            color: #878483;
            font-size: 20px;
        }
    }
    .stay-connected {
        h2 {
            color: #0f75c0;
            font-size: 40px;
        }

        p {
            padding: 1rem 0;
            color: #878483;
            font-size: 20px;
        }

        .card {
            width: 36%;
            padding: 2rem;
            margin: 0 0.5rem;
            border-radius: 19px;
            text-align: center;
            background-color: $white;
            box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.2);

            .card-content {
                font-family: "Roboto";
                h3 {
                    font-weight: bold;
                    font-size: 22px;
                }
                .content-social {
                    font-weight: 400 !important;
                    display: flex;
                    justify-content: space-around;
                    .content {
                        padding: 2rem 0;
                        display: flex;
                        flex-direction: column;

                        a {

                            display: flex;
                            flex-direction: column;
                            i {
                                margin-bottom: 5px;
                                color: $brand-primary;
                                font-size: 25px;
                            }
                        }

                        a {
                            color: black;
                        }
                    }
                }
            }

            &:hover {
                border-bottom: 3px solid $brand-primary;
                // border-left: 3px solid $brand-primary;
            }
        }
    }
    .contact-form {
        margin-bottom: 3rem;
        h2 {
            padding: 1.2rem 0;
            color: #0f75c0;
            font-size: 40px;
        }

        input {
            padding: 0.9rem 0.5rem;
        }
        ::placeholder {
            padding: 0 0.5rem;
        }
    }
}

@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
    .contact-page {
        p {
            padding: 2rem 1rem !important;
        }
    }
}

@media screen and (max-width: 991px) {
    .bannar {
        h2 {
            left: 6rem !important;
        }
    }
    .content-stay-connected {
        .card {
            width: 100% !important;
            margin-bottom: 15px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .content-stay-connected {
        flex-direction: column;

        .card {
            width: 100% !important;
            margin-bottom: 15px !important;
        }
    }
}

@media screen and (max-width: 580px) {
}
