.home-page {
  .card {
    height: 18rem;
    padding: 0 35px;
    text-align: center;
    padding: 10px; 
     border-radius: 20px;
    background-color: #8b8b8b1a;
    box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.2);
    .card-content {
      padding: 20px;
    
      border-color: #8b8b8b1a;
    }
    h3 {
      font-weight:bold;
      font-size: 1.5rem;
      color: $brand-primary;
    }
    p {
      font-size: 1rem;
    }

    // &:hover{
    //   transform:scale(0.9)
    // }
  }
  // about
  .about-section {
    .about {
      h3 {
        font-weight:bold;
        color: $brand-primary;
      }
    }
    .image {
      position: relative;
      .arrow {
        position: absolute;
        top: -80px;
      }

      .girl2 {
        position: absolute;
        top: 11%;
        left: 48%;
      }
      .right {
        position: absolute;
        right: 155px;
        top: -12px;
      }

      .heart {
        position: absolute;
    right:6rem;
    top: 22rem;
      }
    }
  }
  .service-section {
    padding-top: 3rem;
   
     .title-services {
          color: $brand-primary;
          font-weight: 700;
          font-size: 40px;
        }
      .service-carousel {
        padding-top: 3rem;
       
      }
        .item {
          box-shadow: 0px 4px 4px rgba(68, 68, 68, 0.2);
          border-radius: 20px;
          .service-item {

            height: 270px;
            .image {
              // height: 314px!important;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
              img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
              
                // width: 100%;
                height: 100%;
                border: 20px;
              }
            }
            .service-content {
              text-align: center;
              padding: 1.5rem 0;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px;
              cursor: pointer;
              h3 {
                font-weight: 700;
                font-size: 20px;
                color: $brand-primary;
              }
              // p {
              //   font-weight: 400;
              //   font-size: 16px;
              //   color: black;
              // }
            }
    
    
          }
        }
        .owl-nav{
    
        }
      }
    
  
  ///////// Our Process /////////////////
  .our-process {
    padding-bottom: 6rem;
    .content-wrapper {
      color: $brand-primary;
      h2{
        font-weight: bold !important;
      }
    }
    .card {
      margin: 10px 0;
      height: 12rem !important;
      
      .card-content {
        padding: 0px;
        display: flex;
        .num {
          color: $brand-primary;
          font-size: 5rem;
        }
      }
      .process-content {
        text-align: start !important;
        padding: 25px 15px;
      }
    }
  }
  ///////// hurry-up /////////////////
  .hurry-up {
    padding: 7rem 0;
    color: $white ;
    background-color: $brand-primary;

    .buton-group {
      a {
        margin: 0 2rem;
      }
    }
  }
}
@media screen and (max-width:1399px) {
}
@media screen and (max-width:1199px) {
  .about-section {
    text-align: center;
    .image {
      .arrow {
        top: -80px !important;
      }
      .girl2 {
        position: absolute;
        top: 14% !important;
        left: 65% !important;
      }
      .right {
        right: 55px !important;
      }
      .heart {
        right: 0rem !important;
        top: 23rem  !important;
      }
    }
  }
}
@media screen and (max-width:991px) {
 .home-page{
  .about{
    margin-top:15px
  }
 }
 }
@media screen and (max-width:767px) {
  .about-section {
    text-align: center;
    .image {
       .arrow {
        display: none;
      }
       .girl2 {
        display: none;
      }
      .right {
        display: none;
      }
      .heart {
        display: none;
      }
    }
  }
}

@media screen and (max-width:580px) {
            }

