.home-page {
  .card {
    height: 18rem;
    padding: 0 35px;
    text-align: center;
    padding: 10px;
    background-color: #8b8b8b1a;
    .card-content {
      padding: 20px;
      border-radius: 10px;
      border-color: #8b8b8b1a;
    }
    h3 {
      font-size: 1.5rem;
      color: $brand-primary;
    }
    p {
      font-size: 1rem;
    }

    &:hover{
      transform:scale(0.9)
    }
  }
  // about
  .about-section {
    .about {
      h3 {
        color: $brand-primary;
      }
    }
    .image {
      position: relative;
      .arrow {
        position: absolute;
        top: -80px;
      }

      .girl2 {
        position: absolute;
        top: 11%;
        left: 48%;
      }
      .right {
        position: absolute;
        right: 235px;
        top: -12px;
      }

      .heart {
        position: absolute;
    right: 12rem;
    top: 22rem;
      }
    }
  }
  ///////// Our Process /////////////////
  .our-process {
    padding-bottom: 6rem;
    .content-wrapper {
      color: $brand-primary;
    }
    .card {
      margin: 10px 0;
      height: 12rem !important;
      .card-content {
        padding: 0px;
        display: flex;
        .num {
          color: $brand-primary;
          font-size: 5rem;
        }
      }
      .process-content {
        text-align: start !important;
        padding: 25px 15px;
      }
    }
  }
  ///////// hurry-up /////////////////

  .hurry-up {
    padding: 7rem 0;
    color: $white ;
    background-color: $brand-primary;

    .buton-group {
      a {
        margin: 0 2rem;
      }
    }
  }
}

@media screen and (max-width:1399px) {
}
@media screen and (max-width:1199px) {

  .about-section {
    text-align: center;
    .image {
     
      .arrow {
       
        top: -80px !important;
      }

      .girl2 {
        position: absolute;
        top: 14% !important;
        left: 65% !important;
      }
      .right {
        right: 55px !important;
      }

      .heart {
        right: 0rem !important;
        top: 23rem  !important;
      }
    }
  }
}

@media screen and (max-width:991px) {
 
  
 }


@media screen and (max-width:767px) {

  .about-section {
    text-align: center;
    .image {
    
       .arrow {
        display: none;
      }

       .girl2 {
        display: none;
      }
      .right {
        display: none;
      }

      .heart {
        display: none;
      }
    }
  }
}

@media screen and (max-width:580px) {
            }

