// profile-card
.profile-card {
  .card {
    background-color: #fff;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    margin: auto;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);

    h5 {
      color: #0f75c0;
      font-size: 20px;
      text-align: center;
    }
    p {
      color: #878483;
      font-size: 16px;
      text-align: center;
    }
    .file-upload {
      display: inline-block;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      color: #333;
      font-size: 25px;
      text-align: center;
    }
    .file-upload img {
      width: 75px;
      height: 75px;
      margin-bottom: 5px;
    }
    .banner {
      background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 8rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-sizing: border-box;
      .avatar-content {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        .avatar {
          // vertical-align: middle;
          width: 100px;
          height: 100px;
          border-radius: 50%;

          img {
            width: 100%;
          }
        }
      }
      .img-area {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: rgba(255,255,255,0.13);
        // backdrop-filter: blur(10px);
        // border: 2px solid rgba(255,255,255,0.1);
        // box-shadow: 0 0 10px rgba(201, 201, 206, 0.6);
        overflow: hidden;
        transform: translateY(50%);

        .inner-area {
          height: calc(100% - 25px);
          width: calc(100% - 25px);
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }

    h5 {
      &.name {
        text-align: center;
        padding: 0 2rem 0.5rem;
        margin: 0;
      }
    }
    .title {
      color: #a0a0a0;
      font-size: 0.85rem;
      text-align: center;
      padding: 0 2rem 1.2rem;
    }
    .actions {
      padding: 0 2rem 1.2rem;
      display: flex;
      flex-direction: column;
      order: 99;
      .follow-info {
        padding: 0 0 1rem;
        display: flex;
        h2 {
          text-align: center;
          width: 50%;
          margin: 0;
          box-sizing: border-box;
          a {
            text-decoration: none;
            padding: 0.8rem;
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;
            transition: background-color 100ms ease-in-out;
            span {
              color: #1c9eff;
              font-weight: bold;
              transform-origin: bottom;
              transform: scaleY(1.3);
              transition: color 100ms ease-in-out;
            }
            small {
              color: #afafaf;
              font-size: 0.85rem;
              font-weight: normal;
            }
            &:hover {
              background-color: #f2f2f2;
              span {
                color: #007ad6;
              }
            }
          }
        }
      }
      .follow-btn {
        button {
          color: inherit;
          font: inherit;
          font-weight: bold;
          background-color: #ffd01a;
          width: 100%;
          border: none;
          padding: 1rem;
          outline: none;
          box-sizing: border-box;
          border-radius: 1.5rem/50%;
          transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
          &:hover {
            background-color: #efb10a;
            transform: scale(1.1);
          }
          &:active {
            background-color: #e8a200;
            transform: scale(1);
          }
        }
      }
    }
  }
}
.profile-lg-card {
  .card {
    background-color: #fff;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
    .avatar-content {
      display: flex;
      align-items: center;
      .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      .img-area {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 0 0 10px rgba(201, 201, 206, 0.6);
        overflow: hidden;
        .inner-area {
          height: calc(100% - 25px);
          width: calc(100% - 25px);
          border-radius: 50%;

          img {
            margin: 0 -15px;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }

    h3 {
      color: #0f75c0;
      font-size: 20px;
    }
    p {
      color: #878483;
      font-size: 16px;
    }
    form {
      .form-control {
        padding: 1.1rem 0.75rem;
      }
    }
  }
}
