.profile-card {
  .card{
    height: 675px;
  
  .live-card {
   
        .details {
            h5{
              text-align: center !important;
              
            }
            p,
            .pdf { 
               text-align: start !important;
                padding: 0 2rem;
                color: black !important;
  
                span,
                a {
                    color: #878483;
                    margin: 0 10px;
                }
            }
            .file-upload {
                padding: 0;
            }
        }
    
  }
  
  }
  
  }