{% extends 'layouts/base.html' %} 
{% block body %}
    <main>
        <div class="contact-page">
            <div class="bannar">
                <h2>contact us</h2>
            </div>
            <div class="paragraph">
                <p class="text-center">
                    welcome to Medadd! We're thrilled that you're interested in learning
                    more about our medical courses. You can contact us at (Medadd) via
                    email, phone or contact form available on our website. We will be
                    happy to answer all your questions and receive your feedback and
                    suggestions.
                </p>
            </div>
            <section class="stay-connected">
                <h2 class="text-center">Stay Connected</h2>
                <p class="text-center">
                    You can also follow us on social media for our latest news and
                    educational offers.
                </p>
                <div class="container">
                    <div class="content-stay-connected d-flex justify-content-center">
                        <div class="card">
                            <div class="card-content">
                                <h3>Contact info</h3>
                                <div class="content-social">
                                    <!-- <div class="content">
                                        <i class="fa-brands fa-square-whatsapp"></i>
                                        <a href="tel:+02 0100258963"> +02 0100258963</a>
                                    </div> -->
                                    <div class="content">
                                        <a>
                                            <i class="fa-brands fa-square-whatsapp"></i>
                                            <a href="tel:+966507869767" target="_blank"> +966507869767 </a>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <h3>Social Media</h3>
                                <div class="content-social d-flex">
                                    <div class="content">
                                        <a
                                            href="https://www.facebook.com/profile.php?id=100093479674520&mibextid=ZbWKwL" target="_blank">
                                            <i class="fa-brands fa-square-facebook"></i>
                                            <span>facebook</span>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a
                                            href="https://www.instagram.com/medadd36/?fbclid=IwAR04FuZ8JwhXUmeLiVgDrgRRq-55R7t2uRujkYmlabl-6T0sOlG_0eJ5Kgs" target="_blank">
                                            <i class="fa-brands fa-square-instagram"></i>
                                            <span>Instagram</span>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="https://twitter.com/TRANSMED17?t=7CzylvATbHRaXB02G0G6Bg&s=08" target="_blank">
                                            <i class="fa-brands fa-square-twitter"></i>
                                            <span>twitter</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact-form">
                <h2 class="text-center">Send Message</h2>
                <div class="container">
                    <form id="ContactForm" action="#" method="post">
                        <div class="row">
                            <div class="col-xl-6 mb-2">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Email" />
                                </div>
                            </div>
                            <div class="col-xl-6 mb-2">
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Password" />
                                </div>
                            </div>
                            <div class="col-xl-6 mb-2">
                                <div class="form-group">
                                    <input type="phone" name="phone" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Phone " />
                                </div>
                            </div>
                            <div class="col-xl-6 mb-2">
                                <div class="form-group">
                                    <input type="text" name="title" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Subject" />
                                </div>
                            </div>
                            <div class="col-xl-12 mb-2">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Subject" name="subject"
                                        id="exampleFormControlTextarea1" rows="10"></textarea>
                                </div>
                                <div class="text-center text-lg-start mt-4 pt-2">
                                    <p id="password-text"> {{state}} </p>
                                    <button type="submit" class="btn-contact"
                                        onclick="submitForm(event,'/contactusRequist','ContactForm')">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
{% endblock %}