<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inner.en.css') }}" />
    <title>Home</title>


    <script>
        function getServerUrl() {
            var serverUrl = window.location.protocol + "//" + window.location.host;
            return serverUrl;
        }

        function submitForm(event) {
            event.preventDefault(); // Prevent the default form submission behavior
            var form = document.getElementById('ContactForm');
            var url = getServerUrl() + '/contactus';
            form.action = url;
            form.method = 'post';
            form.submit();
        }
    </script>



</head>

<body class="en">
    <!-- <div class="loader-wrapper">
        <div class="loader">
            <div class="preloader_inner">0</div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->

    <header class="header">
        <div class="container">
            <section class="header-section">

                <nav class="navbar navbar-expand-lg justify-content-between ">
                    <a class="navbar-brand" href="#"> <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav justify-content-center">
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_home_';">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_services_';">Services</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_profile_';">Profile</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_teacher_';">Teacher</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_contactus_';">Contact Us</a>
                            </li>


                        </ul>
                    </div>

                    <div class="buton-group">

                      <a class="scou-btn" href="#" onclick="location.href = getServerUrl() + '/_login_';">Login</a>
                      <a class="scou-btn" href="#" onclick="location.href = getServerUrl() + '/_signup_';"> Sign Up</a>
                    </div>
                </nav>
            </section>
        </div>
    </header>
    <main>
        <div class="contact-page">
            <div class="bannar">
                <h2> contact us </h2>
            </div>
            <div class="paragraph">
                <p class="text-center">
                    welcome to Medadd! We're thrilled that you're interested in learning more about our medical courses.
                    You
                    can contact us at (Medadd) via email, phone or contact form available on our website. We will be
                    happy
                    to answer all your questions and receive your feedback and suggestions.</p>
            </div>
            <section class="stay-connected">
                <h2 class="text-center">Stay Connected</h2>
                <p class="text-center">You can also follow us on social media for our latest news and educational
                    offers.
                </p>
                <div class="container">
                    <div class="content-stay-connected d-flex justify-content-center">
                            <div class="card">
                                <div class="card-content">
                                    <h3> Contact info </h3>
                                    <div class="contact-content d-flex">
                                        <div class="content d-flex flex-column">
                                            <i> icon</i>
                                            <span>number</span>
                                        </div>
                                        <div class="content d-flex flex-column">
                                            <i> icon</i>
                                            <span>number</span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-content ">
                                    <h3> Contact info </h3>
                                    <div class="contact-content d-flex">
                                        <div class="content d-flex flex-column">
                                            <i> icon</i>
                                            <span>number</span>
                                        </div>
                                        <div class="content d-flex flex-column">
                                            <i> icon</i>
                                            <span>number</span>
                                        </div>

                                    </div>

                                </div>
                            </div>

                    </div>

                </div>
            </section>
            <section class="contact-form ">
                <h2 class="text-center">Send Message</h2>
                <div class="container">
                  <form id="ContactForm" action="#" method="post">
                      <div class="row">
                          <div class="col-xl-6 mb-2">
                              <div class="form-group">
                                  <input type="email" name = 'email' class="form-control" id="exampleFormControlInput1"
                                      placeholder="Email">
                              </div>
                          </div>
                          <div class="col-xl-6 mb-2">
                              <div class="form-group">
                                  <input type="password" name = 'password' class="form-control" id="exampleFormControlInput1"
                                      placeholder="Password">
                              </div>
                          </div>
                          <div class="col-xl-6 mb-2">
                              <div class="form-group">
                                  <input type="phone" name = 'phone' class="form-control" id="exampleFormControlInput1"
                                      placeholder="Phone ">
                              </div>
                          </div>
                          <div class="col-xl-6 mb-2">
                              <div class="form-group">
                                  <input type="text" name = 'title' class="form-control" id="exampleFormControlInput1"
                                      placeholder="Subject">
                              </div>
                          </div>
                          <div class="col-xl-12 mb-2">
                              <div class="form-group">

                                  <textarea class="form-control" placeholder="Subject" name= 'subject'
                                      id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                              <div class="text-center text-lg-start mt-4 pt-2">
                                  <button type="submit" class="btn btn-primary" onclick="submitForm(event)" >Send Message</button>

                              </div>
                          </div>
                        </div>

                    </form>
                </div>
            </section>
        </div>
    </main>
    <footer class="color-footer">
        <div class="text-center p-4 ">
            <a class="navbar-brand" href="#"> <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt=""></a>
            <a class="text-reset fw-bold" href="">All rights reserved for Medad</a>
        </div>
    </footer>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/aos.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>
