{% extends 'layouts/base.html' %} 
{% block body %}
    <main>

      <!-- <iframe height="850px" width="90%" src="https://video-agent.8x8.com?user=Maged.com&token=eyJiJIUzI1NiME5B87.qPWXyNNDHBx_LftaHarcSgm0c" allow="microphone; camera"></iframe> -->

      <script type="text/javascript">
        window.onload = () => {

          const api = new JitsiMeetExternalAPI("8x8.vc", {
            roomName: '{{roomName}}',
            parentNode: document.querySelector('#jaas-container')
            
            });
        }

        let elem = document.getElementsByTagName('iframe')[0]
        elem.addEventListener('unload',(event)=>{
          event.preventDefault()
          alert('closing')
        })
        alert('closing')
      </script>
            
    </main>

{% endblock %}