
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="static/css/inner.en.css" />
    <title>live</title>

    <script src='https://8x8.vc/vpaas-magic-cookie-06fbdeaffdf34e248fbe175fd8b39c22/external_api.js' async></script>
    <style>html, body, #jaas-container { height: 100%; }</style>
  </head>
  <body class="en">
    <header class="header">
      <div class="container">
        <div class="header-section">
          <nav class="nav navbar navbar-expand-lg navbar-light justify-content-between">
            <a class="navbar-brand"> <img src="static/images/logo1.png"
              onclick="location.href = getServerUrl() + '/home';" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" navbar-collapse justify-content-around" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item nav-link">
                  <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#"
                    role="tab" aria-controls="nav-home" aria-selected="true"
                    onclick="location.href = getServerUrl() + '/home';">Home</a>
                </li>
                <li class="nav-item nav-link">
                  <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#"
                    role="tab" aria-controls="nav-home" aria-selected="true"
                    onclick="location.href = getServerUrl() + '/service';">Services</a>
                </li>
                {% if result %}
                <li class="nav-item nav-link">
                  <a class="nav-link" href="#"
                    onclick="location.href = getServerUrl() + '/profile';">Profile</a>
                </li>
                {% endif %}

                <li class="nav-item nav-link">
                  <a class="nav-link" href="#"
                    onclick="location.href = getServerUrl() + '/contactus';">Contact Us</a>
                </li>

              </ul>
              <ul class="navbar-nav ml-auto topnav">
                {% if result %}

                <li class="nav-item nav-link ">
                  <a class="scou-btn " href="#" onclick="location.href = getServerUrl() + '/profile';" > <i
                    class="fa-regular fa-user mx-2"></i>{{result[2]}}</a>
                </li>

                <li class="nav-item nav-link ">
                  <a class="scou-btn " href="#" onclick="location.href = getServerUrl() + '/logout';"> <i
                    class="fa-regular fa-user mx-2"></i>logout</a>
                </li>
                {% else %}
                <li class="nav-item nav-link ">
                  <a class="scou-btn " href="#" onclick="location.href = getServerUrl() + '/login';"> <i
                    class="fa-regular fa-user mx-2"></i>Login</a>
                </li>
                <li class="nav-item nav-link ">
                  <a class="scou-btn" href="#" onclick="location.href = getServerUrl() + '/signup';"><i
                    class="fa-regular fa-user "></i>
                    Sign Up
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
            
            </div>

          </nav>
        </div>
      </div>
    </header>
    <main>
      <script type="text/javascript">
        window.onload = () => {
          const api = new JitsiMeetExternalAPI("8x8.vc", {
            roomName: '{{roomName}}',
            parentNode: document.querySelector('#jaas-container')
            
            });
          console.log('**********************',api)
        }

        let elem = document.getElementsByTagName('iframe')[0]
        elem.addEventListener('unload',(event)=>{
          console.log('here we are *******************')
          event.preventDefault()
          alert('closing')
        })
        alert('closing')
      </script>
            
    </main>


    <script src="static/scripts/jquery-3.7.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="static/scripts/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/scripts/owl.carousel.min.js"></script>
    <script src="static/scripts/script.js"></script>
    <div id="jaas-container" >
  </body>
</html>
