{% extends 'layouts/base.html' %} 
{% block body %}
    <main>
        <div class="profile-page live-page p-t-12">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- profile-card -->
                        <div class="profile-card live-card mb-3">
                            <div class="card">
                                <div class="border-bottom pt-3">
                                    <div class="details text-start">
                                        <h5 class="name fw-bold text-start">Student Details</h5>
                                        <p> Name: <span>Sara Mohammed</span></p>
                                        <p>Mail:<a>sara@gmail.com</a></p>
                                        <p>Phone: <a href="tel:0123456789">0123456789</a></p>
                                    </div>
                                </div>
                                <div class="border-bottom pt-3">
                                    <div class="details">
                                        <h5 class="name fw-bold">Teacher Details</h5>
                                        <p>Name: <span>Sara Mohammed</span></p>
                                        <p>Mail:<a>sara@gmail.com</a></p>
                                        <p>Phone: <a href="tel:0123456789">0123456789</a></p>
                                    </div>
                                </div>
                                <div class="border-bottom pt-3">
                                    <div class="details">
                                        <h5 class="name fw-bold">Lecture Details</h5>
                                        <p>Title:<span>English Lecture</span></p>
                                        <p>Pages:<a>20</a></p>
                                        <div class="pdf">
                                            <div class="follow-btn">
                                                <form id="UploadPDF" action="#" method="post"
                                                    enctype="multipart/form-data" name="form1" id="form1"
                                                    class="pt-1 text-center">
                                                    <div class="d-flex">
                                                        <div class="pdf-sec">
                                                            <label for="file-input" class="file-upload" id="img-upload">
                                                                <img src="../static/images/pdf.png" alt="Upload" />
                                                            </label>
                                                            <label id='name' style="display:block"> </label>
                                                            <label id='dateL' style="display:block"> </label>
                                                            <p id="password-text"> {{state[1]}} </p>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="profile-lg-card">
                            <div class="card ">
                                <div class="d-flex">
                                    <div class="live-area">
                                        <div class="inner-area">
                                            <img src="../static/images/avatar.jpg" alt="Personal Picture">
                                            <h5> Sara Mohammed</h5>
                                        </div>
                                    </div>
                                    <div class="live-area">
                                        <div class="inner-area">
                                            <img src="../static/images/avatar.jpg" alt="Personal Picture">
                                            <h5 class="h-black"> ayat Hashish</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>


 
{% endblock %}
