<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        let redirct = () =>{
            let type = prompt('you are teacher or student:','student') 
            while (!(type == 'student' | type == 'teacher')){
                type = prompt('you are teacher or student:','student') 
            }
            
            location.redirct
            location.href = '/logwithgoogleserverCofirming';
        }
    </script>
</head>
<body>
    
</body>
</html>