<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
        integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="static/css/inner.en.css" />
    <title>Home</title>




</head>

<body class="en">
    <!--
    <div class="loader-wrapper">
        <div class="loader">
            <div class="preloader_inner">0</div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="header-section">
                <nav class="nav navbar navbar-expand-lg navbar-light justify-content-between">
                    <a class="navbar-brand"> <img src="static/images/logo1.png"
                            onclick="location.href = getServerUrl() + '/home';" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class=" navbar-collapse justify-content-around" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto topnav">
                            <li class="nav-item nav-link">
                                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#" role="tab"
                                    aria-controls="nav-home" aria-selected="true"
                                    onclick="location.href = getServerUrl() + '/home';">Home</a>
                            </li>
                            <li class="nav-item nav-link">
                                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#" role="tab"
                                    aria-controls="nav-home" aria-selected="true"
                                    onclick="location.href = getServerUrl() + '/services';">Services</a>
                            </li>
                            {% if result %}
                            <li class="nav-item nav-link">
                                <a class="nav-link" href="#"
                                    onclick="location.href = getServerUrl() + '/profile';">Profile</a>
                            </li>
                            {% endif %}

                            <li class="nav-item nav-link">
                                <a class="nav-link" href="#"
                                    onclick="location.href = getServerUrl() + '/contactus';">Contact Us</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ml-auto topnav">
                            {% if result %}

                            <li class="nav-item nav-link ">
                                <a class="scou-btn " href="#" onclick="location.href = getServerUrl() + '/profile';">
                                    <i class="fa-regular fa-user mx-2"></i>{{result[2]}}</a>
                            </li>

                            <li class="nav-item nav-link ">
                                <a class="scou-btn " href="#" onclick="location.href = getServerUrl() + '/logout';"> <i
                                        class="fa-regular fa-user mx-2"></i>logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item nav-link ">
                                <a class="scou-btn " href="#" onclick="location.href = getServerUrl() + '/login';"> <i
                                        class="fa-regular fa-user mx-2"></i>Login</a>
                            </li>
                            <li class="nav-item nav-link ">
                                <a class="scou-btn" href="#" onclick="location.href = getServerUrl() + '/signup';"><i
                                        class="fa-regular fa-user "></i>
                                    <!-- <i class="fa-regular fa-user-plus mx-2"></i>  -->
                                    Sign Up
                                </a>
                                <!-- <a class="nav-link btn btn-danger text-white" type="button" href="#" data-toggle="modal"
                                    data-target="#myModal">Register</a> -->
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Customer Sign In</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form>
                                        <label class="sr-only" for="usrname">Username</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Username"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>

                                        <label class="sr-only" for="Password">Name</label>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon2"><i
                                                        class="fa fa-key"></i></span>
                                            </div>
                                            <input id="Password" type="password" class="form-control"
                                                placeholder="Password" aria-label="Password"
                                                aria-describedby="basic-addon2">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="profile-page p-t-12">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- profile-card -->
                        <div class="profile-card mb-3">
                            <div class="card">
                                <div class="banner">
                                    <div class="img-area">
                                        <div class="inner-area">
                                            <img name=image id='per_image' src={{'./static/Users_Data/'+(result[6]) |
                                                string+'/'+(result[0]) |
                                                string+'/Pictures/Personal_Pic.png' }} alt="Personal Picture">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom mt-5 pt-5">
                                    <h5 class="name fw-bold">{{result[2]}}</h5>
                                    <h5 class="name fw-bold">{{result[1]}}</h5>
                                    {% if result[4] %}
                                    <h5 class="name fw-bold">{{result[4]}}</h5>
                                    {% endif %}
                                    <p class="px-2">welcome to Medadd Academy! We're thrilled that you're interested in
                                        learning more about our medical courses.</p>
                                </div>
                                <div class="border-bottom pt-3">
                                    <h5 class="name fw-bold">Last Lecture</h5>
                                    <p>Text form designer imagination can be replaced with other text</p>
                                    <div class="pdf">
                                        <div class="follow-btn">
                                            <form id="UploadPDF" action="#" method="post" enctype="multipart/form-data"
                                                name="form1" id="form1" class="pt-1 text-center">
                                                <div class="d-flex justify-content-center">
                                                    <div class="pdf-sec">
                                                        <label for="file-input" class="file-upload" id="img-upload">
                                                            <img src="../static/images/pdf.png" alt="Upload" />
                                                        </label>
                                                        <label id='name' style="display:block">     </label>
                                                        <label id='dateL' style="display:block">     </label>
                                                        <p id="password-text"> {{state[1]}} </p>
                                                    </div>
                                                </div>
                                                <div class="text-center my-3">


                                                    <label class="btn-action " id="inputfile" for="file"
                                                        onchange="uploading()">Upload
                                                        File
                                                        <input type="file" name="file" id="file" accept=".pdf,.pptx"
                                                            style="display:none" multiple />
                                                    </label>

                                                    <!-- <label for="datePicker" id="datePickerL" style="display:none" >Choose a day:</label>
                                                    <input type="date" id="datePicker" onchange="updateSchedule()" style="display:none" > -->
                                                    <label for="datePicker" id="datePickerL" style="display:none" >Choose a day:</label>
                                                    <label>
                                                            <input type="date" class="btn-action" name="date"
                                                            id="datePicker" value="Choose a day" onchange="updateSchedule()" style="display:none" />
                                                            <!-- onclick="submitForm(event,'/Upload_PDF','UploadPDF')" -->
                                                    </label>

                                                    <label><input type="button" class="btn-action" name="button"
                                                            id="button" value="Send"
                                                            onclick="submitForm(event,'/Upload_PDF','UploadPDF')"
                                                            style="display:none" />
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="profile-lg-card">
                            <div class="card">
                                <div class="border-bottom">
                                    <h3>Profile Details</h3>
                                    <p>You have full control to manage your own account setting.</p>
                                </div>
                                <form id="UpdateForm" action="#" method="post" enctype="multipart/form-data">
                                    <div class="border-bottom d-flex justify-content-start align-content-start py-2 ">
                                        <div class="avatar-content ">
                                            <div class="img-area">
                                                <div class="profile-pic my-2">
                                                    <label class="-label" for="photo">
                                                        <!-- <span class="glyphicon glyphicon-camera"></span> -->
                                                        <span>Change Image</span>
                                                    </label>
                                                    <input id="photo" name='image' type="file"
                                                        accept="image/png,image/gif,image/jpeg"
                                                        onchange="loadFile(event,'outputStudent')" />
                                                    <img src="../static/images/avatar.png" id="outputStudent" />
                                                </div>
                                            </div>
                                            <div class="px-3">
                                                <h3>Your avatar</h3>
                                                <p class="p-hint">PNG or JPG no bigger than 800px wide and tall</p>
                                                <!-- <p id="password-text"> {{state[0]}} </p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form pt-2 ">
                                        <div>
                                            <h3>Personal Details</h3>
                                            <p>Edit your personal information and address.</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 mb-2">
                                                <div class="form-group">
                                                    <input type="text" name='first_name' class="form-control"
                                                        id="exampleFormControlInput1" placeholder="First name">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mb-2">
                                                <div class="form-group">
                                                    <input type="text" name='last_name' class="form-control"
                                                        id="exampleFormControlInput1" placeholder="Last name">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 mb-2">
                                                <div class="form-group">
                                                    <input type="phone" name='whatsapp' class="form-control"
                                                        id="exampleFormControlInput1" placeholder="whatsapp">
                                                </div>
                                            </div>


                                            <div class="col-xl-6 mb-2">
                                                <div class="form-group">
                                                    <input type="email" name='email' class="form-control" id="mail"
                                                        placeholder="Mail">
                                                </div>

                                            </div>

                                            <div class="text-center text-lg-start mt-4 pt-2">
                                                <p id="password-text"> {{state[0]}} </p>
                                                <button type="submit" class="btn-action"
                                                    onclick="submitForm(event,'/update_profile','UpdateForm')">Update Profile</button>

                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <div>
                                <!-- <button type="submit" class="btn-action"
                                    onclick="location.href = getServerUrl() + '/live';">Enter Meeting</button> -->
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

        </div>
    </main>



    <footer class="d-flex justify-content-center align-content-end">
        <a class="navbar-brand" href="#"> <img src="static/images/logo1.png"
                onclick="location.href = getServerUrl() + '/home';" alt=""></a>
        <a class="text-reset rights">All rights reserved for Medadd </a>

    </footer>

    <script src="static/scripts/jquery-3.7.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="static/scripts/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/scripts/owl.carousel.min.js"></script>
    <script src="static/scripts/script.js"></script>
</body>

</html>
