<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inner.en.css') }}" />
    <title>Home</title>


    <script>
        function getServerUrl() {
            var serverUrl = window.location.protocol + "//" + window.location.host;
            return serverUrl;
        }

        function submitForm(event) {
            event.preventDefault(); // Prevent the default form submission behavior
            var form = document.getElementById('SigninForm');
            var url = getServerUrl() + '/signup';
            form.action = url;
            form.method = 'post';
            form.submit();
        }
    </script>



</head>

<body class="en">
    <!-- <div class="loader-wrapper">
        <div class="loader">
            <div class="preloader_inner">0</div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div> -->
    <!-- header -->


    <header class="header">
        <div class="container">
            <section class="header-section">

                <nav class="navbar navbar-expand-lg justify-content-between ">
                    <a class="navbar-brand" href="#"> <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav justify-content-center">
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_home_';">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_services_';">Services</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_profile_';">Profile</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_teacher_';">Teacher</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" onclick="location.href = getServerUrl() + '/_contactus_';">Contact Us</a>
                            </li>


                        </ul>
                    </div>

                    <div class="buton-group">

                        <a class="scou-btn" href="#" onclick="location.href = getServerUrl() + '/_login_';">Login</a>
                        <a class="scou-btn" href="#" onclick="location.href = getServerUrl() + '/_signup_';"> Sign Up</a>
                    </div>
                </nav>
            </section>
        </div>
    </header>
    <main>
        <div class="signin-page">
            <section class="vh-100">
                <div class="container h-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-xl-6 col-lg-6 col-xl-5">
                            <div class="login owl-carousel owl-theme">
                                <div class="item-slide">
                                    <div class="img-slider">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                            class="img-fluid" alt="Sample image">
                                    </div>
                                    <div class="content-wrapper text-center">
                                        <h3>Welcome to Medadd Academy</h3>
                                        <p>where you can turn your passion into a profession.</p>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="img-slider">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                            class="img-fluid" alt="Sample image">
                                    </div>
                                    <div class="content-wrapper text-center">
                                        <h3>Welcome to Medadd Academy</h3>
                                        <p>where you can turn your passion into a profession.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                          <form id ="SigninForm" action="#" method="post">

                              <!-- Email input -->
                              <div class="form-outline mb-4">
                                  <label class="form-label" for="form3Example3">Full Name</label>
                                  <input type="text" name = 'username' id="form3Example3" class="form-control form-control-lg" />
                              </div>

                              <!-- Email input -->
                              <div class="form-outline mb-4">
                                  <label class="form-label" for="form3Example3">Email address</label>
                                  <input type="email" name = 'email' id="form3Example3" class="form-control form-control-lg" />
                              </div>
                              <!-- Password input -->
                              <div class="form-outline mb-4">
                                  <label class="form-label" for="form2Example2">Password</label>
                                  <input type="password" name = 'password' id="form2Example2" class="form-control" />
                              </div>

                              <div class="form-check mb-0 mt-3">
                                  <input class="form-check-input me-2" type="checkbox" name = 'checkbox' id="form2Example3" />
                                  <label class="form-check-label" for="form2Example3">
                                      I agree to the Terms of Service and Privacy Policy.
                                  </label>
                              </div>
                              <div class="text-center text-lg-start mt-4 pt-2">
                                  <button type="submit" class="btn btn-primary" onclick="submitForm(event)" >Create Account</button>
                                  <p class="small fw-bold mt-2 pt-1 mb-0"> Already have Account? <a href="#!"
                                          class="link-danger">Sign In</a></p>
                              </div>





                                <div class="text-center mb-3">

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <p>Sign in with:</p>
                                        <i class="fab fa-facebook-f"></i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </main>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/owl.carousel.min.js"></script>
    <script src="../scripts/script.js"></script>
</body>

</html>
