{% extends 'layouts/base.html' %} 
{% block body %}
    <main>
        <div class="sign-page">
            <div class="h-custom d-flex justify-content-between">
                <div class="sec-sing">
                    <div class="container">
                        <div id="login-carousel" class="carousel slide custom-carousel" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#login-carousel" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#login-carousel" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#login-carousel" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="static/images/bunnar/home.png" alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/images/bunnar/img1.jpg" alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../static/images/bunnar/img2.jpg" alt="Third slide" />
                                </div>
                            </div>
                            <div class="content-wrapper text-center mt-5">
                                <h3>Welcome to Medadd Academy</h3>
                                <p>
                                    where you can turn your passion into <br />
                                    a profession.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec-sing">
                    <div class="container">
                        <form action="#" method="POST" id="loginForm">
                            <h2>Sign IN</h2>
                            <div class="form-group sign-form">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" />
                                <div class="alert alert-danger email-error d-none mt-1" role="alert"></div>
                            </div>
                            <div class="form-group sign-form">
                                <label for="password">Password</label>
                                <input type="password" class="form-control ok-password" id="password" name="password" />
                                <!-- <i class='bx bx-low-vision'></i> -->
                                <div class="alert alert-danger password-error d-none mt-1" role="alert"></div>
                            </div>

                            <label id="password-text"> {{state}} </label>
                            <div>
                                <a href="#!" class="d-block text-primary">Forgot password?</a>
                            </div>
                            <div class="form-check mb-0 mt-3">
                                <input class="form-check-input me-2" type="checkbox" name="checkbox" id="Remember" />
                                <label class="form-check-label" for="Remember">
                                    Remember me
                                </label>
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <!--<button type="submit" class="main-button">Sign IN</button>-->
                                <button type="submit" class="main-button"
                                    onclick="submitForm(event,'/loginRequist','loginForm')">
                                    Sign IN
                                </button>
                                <p class="small fw-bold pt-1 text-center my-2">
                                    New User ?
                                    <a href="#" onclick="location.href = getServerUrl() + '/signup';" class="link-sign">Create an Account</a>
                                </p>
                            </div>
                            <div class="text-center mt-4">
                                <a class="sign">
                                    <img src="static/images/google.png" alt="First slide" />Sign
                                    In using Google</a>

                                <a class="sign">
                                    <img src="static/images/facebook.png" alt="First slide" />Sign In using Facebook</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}