<div class="main-overview">
    <div class="overviewCard">
      <div class="titleNote d-flex justify-content-center align-items-center">
        <div class="overviewCard-icon overviewCard-icon--calendar">
          <i class="fa-solid fa-bell"></i>
        </div>  
         <h3 class="overviewCard-title">login  Notification</h3>
      </div>

      <div class="overviewCard-description">
        <ul id="coursesRequests"
        style="padding-left: 10px; overflow-y: scroll; overflow-x: hidden; width: 500px; height: 200px;">
    {% for message in notification['loginNotification'] %}
    <li><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
    {% endfor %}
  </ul>
      </div>
    </div>
    <div class="overviewCard">
      <div class="titleNote d-flex justify-content-center align-items-center">
     
        <div class="overviewCard-icon overviewCard-icon--calendar">
          <i class="fa-solid fa-bell"></i>
        </div> 
          <h3 class="overviewCard-title">signUp Notification</h3>
      </div>

      <div class="overviewCard-description">
        <!-- <p class="overviewCard-subtitle"><li>{{ message }}</li></p> -->

        
        <ul id="coursesRequests"
        style="padding-left: 10px; overflow-y: scroll; overflow-x: hidden; width: 500px; height: 200px;">
          {% for message in notification['signUpNotification'] %}
          <li><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="overviewCard">
      <div class="titleNote d-flex justify-content-center align-items-center">
        <div class="overviewCard-icon overviewCard-icon--calendar">
          <i class="fa-solid fa-bell"></i>
        </div>   
          <h3 class="overviewCard-title">Lesson Upload Notification</h3>
      </div>
      <div class="overviewCard-description">
        <!-- <p class="overviewCard-subtitle"><li>{{ message }}</li></p> -->

        
        <ul id="coursesRequests"
        style="padding-left: 10px; overflow-y: scroll; overflow-x: hidden; width: 500px; height: 200px;">
          {% for message in notification['lessonUploadNotification'] %}
          <li><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="overviewCard">
      <div class="titleNote d-flex justify-content-center align-items-center">
         <div class="overviewCard-icon overviewCard-icon--calendar">
          <i class="fa-regular fa-circle-check"></i>
        </div> 
        <h3 class="overviewCard-title">lesson Accepted </h3>
      </div>
      <div class="overviewCard-description">
        <!-- <p class="overviewCard-subtitle"><li>{{ message }}</li></p> -->

        
        <ul>
          {% for message in notification['lessonAccepted'] %}
          <li><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="overviewCard">
      <div class="titleNote d-flex justify-content-center align-items-center">
        <div class="overviewCard-icon overviewCard-icon--calendar">
          <i class="fa-regular fa-circle-check"></i>
        </div> 
          <h3 class="overviewCard-title">Student Accepted  </h3>
      </div>

      <div class="overviewCard-description">
        <!-- <p class="overviewCard-subtitle"><li>{{ message }}</li></p> -->

        
        <ul id="coursesRequests"
        style="padding-left: 10px; overflow-y: scroll; overflow-x: hidden; width: 500px; height: 200px;">
          {% for message in notification['studentAccepted'] %}
          <li><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="overviewCard">
      <div class="titleNote d-flex justify-content-center align-items-center">
    
        <div class="overviewCard-icon overviewCard-icon--calendar">
          <i class="fa-solid fa-bell"></i>
        </div> 
           <h3 class="overviewCard-title">Finish Lesson</h3>
      </div>

      <div class="overviewCard-description">
        <!-- <p class="overviewCard-subtitle"><li>{{ message }}</li></p> -->
        <ul id="coursesRequests"
        style="padding-left: 10px; overflow-y: scroll; overflow-x: hidden; width: 500px; height: 200px;">
          {% for message in notification['finishLesson'] %}
          <li><i class="fa-solid fa-user ms-1"></i> {{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
