.main-button,
.btn-action,
.btn-action-lg,
.btn-action-lg-blue,
.btn-hurry,
.btn-edit {
    width: 100%;
    padding: 0.75rem 2rem;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    background-color: #84c356;
    color: white;

    &:hover {
        opacity: 0.8;
    }
}
.btn-action {
    width: 33%;
}
.btn-action-lg {
    width: 35%;
}
.btn-action-lg-blue {
    width: 35%;
    background-color: #0f75c0;
}
.btn-hurry {
    padding: 0.75rem 4rem;
    width: 30%;
    background-color: transparent;
    border: 2px solid white;
}
.btn-edit {
    background-color: transparent;
    border: none;
}

.scou-btn {
    // color: black !important;
    &:hover {
        color: #84c356;
    }
}


@media screen and (max-width: 1399px) {
}

@media screen and (max-width: 1199px) {
   
}

@media screen and (max-width: 769px) {
    .main-button,
    .btn-action,
    .btn-action-lg,
    .btn-action-lg-blue,
    .btn-hurry,
    .btn-edit {
       
        padding: 0.5rem 1rem;
        font-size: 12px;
      
        
    }
   
}
@media screen and (max-width: 580px) {
}
@media screen and (max-width: 325px) {
}