footer {
  .rights{
    font-size:14px;
    color: #878483 !important;
   
  }
}

@media screen and (max-width: 1199px) {
    .first-sec {
        .counter {
            .label {
                font-size: 14px !important;
            }

            .countspa {
                margin: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .first-sec {
        padding: 20px 0;

        .counter {
            height: 20px !important;
            .label {
                font-size: 14px !important;
            }

            .countspa {
                margin: 0 !important;
            }


        }

        .signup {
            .signup-box {
                height: 35px !important;
                padding: 0 0px !important;
            }
            .send-btn {
               
                right: 378px !important;
                top: 15px;
                height: 0px !important; 
             /*    width: 80px; */
            }

        }
    }

    .middle-footer {
        text-align: center;
        .logo-footer {
            margin: 0px 200px auto;
        }
        .wrapper {
            margin-bottom: 34px;

            &:hover {
                transform: none !important;
            }
        }

        h3 {
            margin: 10px 0;
        }

        .quick {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 580px) {

    footer {
.middle-footer {
            .logo-footer {
                margin: 0px 47px auto !important;
                .left,
                .right {
                    width:80px;
                }
                .right {
                    position: relative;
                    &::before {
                        content: "";
                        height: 35px;
                    }
                }
    
               
            }
    
          
          
        }
 
}
}
@media screen and (max-width: 380px) {
    footer {
        .first-sec {
            .counter {
                height: 15px;

                i {
                    font-size: 16px;
                }
                .label {
                    font-size: 12px !important;
                }
            }
            .signup {
                &::before {
                    content: "";
                    height: 0px;
                }

                .send-btn {
                    position: absolute;
                    right: 0;
                    top: 15px;
                    border-radius: 10px;
                    border: none;
                    height: 51px;
                    width: 125px;

                    &:hover {
                        .shutter-in-vertical {
                            display: none;
                        }
                    }
                }
            }
        }

        .middle-footer {
            .quick,
            .quick-links {
                li {
                    font-size: 12px !important;
                    font-weight: 400;
                    line-height: 20px;
                    a {
                        color: $th-gray;
                    }
                }
            }
        }
    }
}
