// header section
header {
  background-color: $white;

}
.nav-item{
  margin: 0 10px;
  a {
    color: black !important
  }
}    

.active {
  background-color: red;
  // color: $brand-primary !important;
  color: red !important;
  font-size: 10px;
}

@media screen and (max-width: 580px) {
  

  nav{
    text-align: center;
  }
}


